:root {
  --morning: #ffffc8;
  --night: #597a9b;
  --day: #96e0ff;
  --evening: #ffac59;
  --small-font-size: 14px;
  --medium-font-size: 20px;
  --large-font-size: 72px;
  --secondary: grey;
  --night-color: #ffff99;

  --secondary-night: #2b3a4a;
  --secondary-evening: #bf8143;
  --secondary-day: #568295;
  --secondary-morning: #a5a564;

  --card-color: black;

  /* Default */
  --primary-color: var(--day);
  --secondary-color: var(--secondary-day);
  --font-color: var(--card-color);
}

[data-theme="morning"] {
  --primary-color: var(--morning);
  --secondary-color: var(--secondary-morning);
  --font-color: var(--card-color);
}

[data-theme="day"] {
  --primary-color: var(--day);
  --secondary-color: var(--secondary-day);
  --font-color: var(--card-color);
}

[data-theme="evening"] {
  --primary-color: var(--evening);
  --secondary-color: var(--secondary-evening);
  --font-color: var(--card-color);
}

[data-theme="night"] {
  --primary-color: var(--night);
  --secondary-color: var(--secondary-night);
  --font-color: var(--night-color);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: var(--medium-font-size);
  color: var(--font-color);
  background-color: var(--primary-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.shadow {
  box-shadow: 4px 4px 4px var(--secondary-color);
}

#container {
  margin: auto;
  padding: 3rem;
}

form {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
}

input,
select,
option {
  padding: 8px;
  border-radius: 8px;
  border: solid 1px black;
  font-size: var(--medium-font-size);
  color: var(--card-color);
}

.unit::before {
  content: "°";
}

.content {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: max(50vw, 420px);
}

.current {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  color: var(--card-color);
}

.condition-and-desc {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 16px;
}
.condition {
  display: flex;
  gap: 8px;
  align-items: center;
}

#current-desc {
  font-size: var(--small-font-size);
  color: var(--secondary);
  text-align: right;
}

#current-temp {
  font-size: var(--large-font-size);
}

.temp {
  display: flex;
}

.details {
  font-size: var(--small-font-size);
  display: flex;
  justify-content: space-between;
  padding: 2px 8px;
}

.icon {
  width: calc(var(--medium-font-size) * 2);
  height: calc(var(--medium-font-size) * 2);
}

.box-shadow {
  box-shadow: 4px 4px 4px grey;
}
